.participants {
	display: flex;
	gap: 8px;
	align-items: center;

	& span {
		@media (max-width: 600px) {
			display: none;
		}
	}

	.participantsBadge {
		background: #2E3031;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5.5px 12px;
		gap: 4px;
		font-size: 14px;
		font-weight: 700;
		border-radius: 10px;
		@media (max-width: 600px) {
			padding: 5.5px 8px;
		}
	}
}
