@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

html,
body,
#__next,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #111;
    font-family: Inter, serif;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    place-content: center;
    justify-items: center;
    padding-top: 96px;
    padding-bottom: 45px;
}

.text-green {
    color: #59E970;
}

.bg-green {
    background-color: #59E970;
    color: #252728;
}

.bg-green:not(:disabled):hover {
    background-color: #59E970;
    color: #252728;
    opacity: 0.8;
}

.lk-room-container {
    position: initial !important;
}

.lk-chat {
    bottom: calc(var(--lk-control-bar-height) + 45px)
}

.lk-start-audio-button, .lk-join-button {
    background-color: #59E970 !important;
    color: #252728 !important;
}

.lk-participant-metadata {
    z-index: 1;
}

.lk-chat {
    z-index: 1;
    padding: var(--lk-grid-gap);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background: transparent;
    border: none;
    margin-bottom: 0;
}

.lk-list, .lk-chat-wrapper {
    background: #212121;
}

.lk-chat-form {
    background: #212121;
    border: none;
}

.lk-chat-form .lk-form-control {
    background: none;
}

.lk-list.lk-chat-messages {
    margin-bottom: 0 !important;
}

.lk-chat-entry {
    margin: 0 16px;
}

.lk-chat-entry[data-lk-message-origin=local] .lk-message-body {
    background: #324F36;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 4px 12px;
}

.lk-chat-entry[data-lk-message-origin=remote] .lk-message-body {
    background: #2E3031;
    border-radius: 5px;
    padding: 4px 12px;
}

.lk-chat .lk-participant-name, .lk-chat .lk-timestamp {
    color: #777575;
    font-size: 14px;
}

.lk-button.lk-chat-form-button {
    background: #ffffff;
    color: #000;
}

.lk-button.lk-chat-form-button:hover {
    background: #ffffff;
    color: #000;
    opacity: 0.8;
}


.lk-participant-tile::after {
    border-color: #59E970;
    z-index: 1;
}

.lk-participant-tile .lk-participant-metadata-item:has(.lk-participant-name) {
    background-color: rgba(46, 48, 49, 0.7);
}

.lk-control-bar {
    border-top: none;
}

.lk-prejoin .lk-button-group-container {
    flex-direction: row-reverse;
}

@media (max-width: 400px) {
    .lk-prejoin .lk-button-group-container {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 600px) {
    .lk-participant-placeholder svg {
        transform: scale(0.6);
    }

    .lk-chat {
        position: absolute;
        border-radius: 0;
        padding: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 69px;
        width: 100%;
    }

    .lk-list {
        border-radius: 0;
    }
}

@media (min-width: 601px) {
    .lk-list {
        border-radius: 10px 0px 0px 0px;
    }

    .lk-grid-layout {
        padding-left: 16px;
        padding-right: 16px;
    }

    .lk-focus-layout {
        grid-template-columns: 5fr 1fr;
    }
}
