.leaderBoardButton {
	height: 36px;
	width: 36px;
	border-radius: 10px;
	border: 1px solid #2E3031;
	display: flex;
	align-items: center;
	justify-content: center;
}

.leaderboardModalWrapper {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;

	.leaderboardInfoModalContainer, .leaderboardModalContainer {
		max-width: 514px;
		width: 90%;
		background-color: #212121;
		position: relative;
		padding: 32px 48px;
		border-radius: 10px;
		max-height: 90%;
		overflow-y: auto;

		@media (max-width: 600px) {
			padding: 24px;
		}

		.closeButton {
			position: absolute;
			right: 8px;
			top: 8px;
			background-color: #2E3031;
			border-radius: 10px;
			height: 36px;
			width: 36px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.header {
			display: flex;
			gap: 8px;
			align-items: center;
			margin-bottom: 24px;

			@media (max-width: 600px) {
				margin-bottom: 12px;
			}

			.title {
				font-size: 24px;
				font-weight: 700;
				line-height: 29px;
				letter-spacing: 0em;
				white-space: pre-line;

				@media (max-width: 600px) {
					font-size: 18px;
					line-height: 100%;
				}

			}
		}

		.info {
			display: flex;
			gap: 8px;
			margin-bottom: 16px;
			align-items: center;

			.badge {
				background-color: #2E3031;
				width: fit-content;
				align-items: center;
				display: flex;
				height: 40px;
				padding: 0 16px;
				font-size: 16px;
				font-weight: 500;
				line-height: 140%;
				letter-spacing: 0em;
				text-align: left;
				border-radius: 5px;

				@media (max-width: 600px) {
					height: 28px;
					font-size: 14px;
				}

				span:first-of-type {
					color: #59E970;
				}
			}

			.infoButton {
				border: 1px solid #2E3031;
				border-radius: 5px;
				display: flex;
				gap: 8px;
				height: 40px;
				align-items: center;
				padding: 0 16px;
				font-size: 16px;
				line-height: 140%;
				box-sizing: border-box;

				@media (max-width: 600px) {
					height: 28px;
					font-size: 14px;
					gap: 2px;
					padding-left: 10px;
					padding-right: 14px;
					svg {
						transform: translateX(-10%) scale(.8)
					}
				}
			}
		}

		.linkTitle {
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			letter-spacing: 0em;
			text-align: left;
			display: flex;
			align-items: center;
			gap: 8px;
			margin-bottom: 8px;

			svg {
				color: #59E970;
			}
		}

		.linkCopy {
			background-color: #2E3031;
			border-radius: 5px;
			height: 40px;
			font-size: 16px;
			font-weight: 500;
			line-height: 110%;
			letter-spacing: 0em;
			text-align: left;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 16px;
			margin-bottom: 16px;

			@media (max-width: 600px) {
				font-size: 11px;
			}

			svg {
				margin-left: auto;
				color: #59E970;
			}
		}

		.table {

			.tableHeader, .row {
				display: flex;
				gap: 8px;

				span:nth-child(2) {
					flex: 1;
				}

				span:nth-child(3) {
					min-width: 96px;
				}
			}

			.row, .tableHeader {
				span {
					border: 1px solid #2E3031;
					border-radius: 5px;
					min-width: 32px;
					padding: 8px 0;
					font-size: 16px;
					line-height: 16px;
					letter-spacing: 0em;
				}

				span:nth-child(1) {
					text-align: center;
				}

				span:nth-child(2), span:nth-child(3) {
					padding: 8px 16px;
				}
			}

			.row {
				margin-bottom: 8px;

				span:nth-child(3) {
					font-weight: bold;
				}
			}

			.tableHeader {
				span:nth-child(3) {
					padding-right: 0;
					padding-left: 16px;
				}

				span {
					color: #777575;
					border: none;
				}
			}

			.activeRow {
				span {
					border-color: #59E970;
				}
			}
		}

		p {
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: 0em;
			text-align: left;

			@media (max-width: 600px) {
				font-weight: 400;
				font-size: 13px;
			}
		}

		.block {
			margin: 24px 0;
			border-radius: 5px;
			border: 1px solid #2E3031;
			width: 100%;

			@media (max-width: 600px) {
				margin: 22px 0 16px;
			}

			.blockHeader {
				background-color: #2E3031;
				padding: 8px 24px;
				font-size: 16px;
				font-weight: 700;
				line-height: 100%;
				letter-spacing: 0em;
				text-align: left;
				@media (max-width: 600px) {
					padding: 8px 16px;
				}
			}

			.blockBody {
				padding: 18px 24px;
				display: flex;
				flex-direction: column;
				gap: 12px;
				@media (max-width: 600px) {
					padding: 16px 16px 14px;
					gap: 14px;
				}

				.blockRow {
					display: flex;
					align-items: center;

					@media (max-width: 600px) {
						align-items: flex-start;
						flex-direction: column;
					}

					.blockBadge {
						font-size: 14px;
						font-weight: 700;
						line-height: 20px;
						letter-spacing: 0em;
						width: fit-content;
						background-color: #59E970;
						padding: 4px 8px;
						color: black;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						height: fit-content;
						margin-right: 16px;

						@media (max-width: 600px) {
							margin-bottom: 8px;
						}
					}

					.rewardBlockWrapper {
						display: flex;
					}

					.rewardBlock {
						display: flex;
						flex-direction: column;
						font-size: 14px;
						line-height: 120%;
						white-space: pre-line;

						& .rewardBlockGreenText {
							color: #59E970;
							font-weight: bold;
							letter-spacing: 0em;
						}

						& .rewardBlockGrayText {
							margin-top: 2px;
							color: #777575;
							letter-spacing: 0em;
							text-align: left;
						}
					}
				}
			}
		}

		.learMoreLink {
			display: block;
			margin-top: 20px;
			color: #59E970;
			font-size: 14px;
			font-weight: 500;
			line-height: 140%;
			letter-spacing: 0em;
			text-align: left;

			@media (max-width: 600px) {
				font-weight: 400;
				font-size: 13px;
				margin-top: 12px;
			}
		}
	}

	.leaderboardInfoModalContainer {
		max-width: 482px;

		.header {
			margin-bottom: 16px;
			@media (max-width: 600px) {
				margin-bottom: 8px;
			}
		}
	}
}
